<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="letuizu.com.moduleb">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".activity.ModuleBActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--视频点播-->
        <activity
            android:name=".activity.SkinActivity"
            android:configChanges="orientation|keyboard|locale|screenSize|layoutDirection"
            android:screenOrientation="portrait" />
        <!--视频直播-->
        <activity
            android:name=".activity.LiveModeActivity"
            android:configChanges="orientation|keyboard|locale|screenSize|layoutDirection"
            android:screenOrientation="portrait" />
    </application>

</manifest>
